@font-face {
  font-family: 'harryfont';
  src: url('../fonts/HARRYP__.TTF');
}

/* Background color and margin all around for the whole page */
body {
  margin-top: 5px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: rgb(233, 226, 217);
}

/* NAV bar on the top */
div.scrollmenu {
  background-color: #333;
  overflow: auto;
  height: 60px;
  text-align: center;
  color: white;
  white-space: nowrap;
  font-size: 36px;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family: harryfont;
  padding: 10px 50px;
}

div.scrollmenu a:hover {
  background-color: #777; 
}

/* Images and four columns */
.aboutUsColumns {
  -webkit-column-count: 4;
  -moz-column-count: 4;
  column-count: 4;
  -webkit-column-gap: 11px;
  -moz-column-gap: 11px;
  column-gap: 11px;
  -webkit-column-rule: 1px solid rgba(28,110,164,0.5);
  -moz-column-rule: 1px solid rgba(28,110,164,0.5);
  column-rule: 1px solid rgba(28,110,164,0.5);
}

img {
  margin: 20px 10px 10px 100px;
  width: 100%;
  height: 100%;
}

img:hover {
  box-shadow: 0px 0px 20px 20px rgba(0, 140, 186, 0.5);
}

/* Horizontal stright Line */
hr {
  border: solid rgba(0, 140, 186, 0.5);
  margin-top: 50px;
}

/* Footer*/
footer div a.vertical-align {
  position: relative;
  top: 33%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

footer div.footer {
  position: relative;
  top: 50px;
  right: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  background-color: #44494e;
  color: white;
  font-size: 20px;
  text-align: center;
}
