body { 
  background-image: url(../images/forbid.jpg); 
}

@font-face {
  font-family: 'harryfont';
  src: url('../fonts/HARRYP__.TTF');
}

/* header section */
#homeLink{
  color: white;
  font-family: 'harryfont';
  font-size: 50px;
  margin-right: 85%;
  text-decoration: none;
}

#homeLink:hover{
  color: yellow;
}

#aboutUsLink{
  color: white;
  font-family: 'harryfont';
  font-size: 50px;
  text-decoration: none;
}

#aboutUsLink:hover{
  color: yellow;
}

#forbidden2{
  font-family: harryfont;
  font-size: 100px;
  color: white;
  text-align: center;
  margin: 20px 20px 20px 20px;
}

/* Answer Section */
#questionSectionElement {
  background-color: rgb(255, 255, 255, .6);
  margin: 10px;
  font-size: 45px;
  text-align: center;
  padding-bottom: 30px;
  font-family: 'Indie Flower', cursive;
}

#domQuestionText {
  font-size: 40px;
  margin-bottom: 30px;
}

#domAnswerOneText, #domAnswerTwoText {
  padding: 15px;
  text-align: center;
  margin-top: 10px;
  font-size: 35px;
  cursor: url(../images/transparent_wand_32x32.png), auto;
}

/* Question Title Section */
#domQuestionId {
  font-size: 85px;
  text-transform: capitalize;
  margin-top: 50px;
  margin-bottom: 60px;
  font-family: 'harryfont';
  padding-top: 15px;
}

#domquestionImage {
  height: 100px;
  width: 100px;
}

#domAnswerOneText:hover, #domAnswerTwoText:hover {
  background-color: lightgray;
}

/* if empty answer no border */
#domAnswerOneText:empty, #domAnswerTwoText:empty  {
  display: none;
}

/* image section */
img {
  display: block;
  margin: auto;
  margin-top: 20px;
  opacity: 1.0;
}

/* High Score table */
#myTable{
  color: rgb(227, 227, 51);
  margin-top: 10px;
  font-size: 40px;
  font-family: 'harryfont';
  align-self: center;
  text-align: center;
}

table.center {
  margin-left:auto; 
  margin-right:auto;
}

#image{
  position: absolute;
  margin-top: 14%;
  margin-left: 2%;
  width: 15%;
}
