

#body2{
    cursor: url(../images/transparent_wand_32x32.png), auto;
}

#forbidden2{
  color:black;
  margin-left: 30%;
  font-size: 40px;
  font-weight: bolder;
}

#instructions2{
  position: relative;
  margin-left: 15%;
  margin-top: 15%;
  border: 1px white solid;
}

/* Answer Section */
#domAnswerOneText, #domAnswerTwoText {
  border: 1px black solid;
  padding: 3px;
  text-align: center;
  width: 75%;
  margin: auto;
  margin-bottom: 7px;
  cursor: url(../images/transparent_wand_32x32.png), auto;

}

#domAnswerOneText:hover, #domAnswerTwoText:hover {
  background-color: lightgray;
}

/* Question Title Section */
#domQuestionId {
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
  margin-top: 20%;
}

/* if empty answer no border */
#body2 * :empty {
  display: none;
}

/* image section */
img {
  display: block;
  margin: auto;
  margin-top: 30px;
}
