
body { 
  background-image: url(../images/forbid.jpg); 
}

#homeLink{
  color: white;
  font-family: 'harryfont';
  font-size: 50px;
  margin-right: 90%;
  text-decoration: none;
}
#homeLink:hover{
  color: yellow;
}

#aboutUsLink{
  color: white;
  font-family: 'harryfont';
  font-size: 50px;
  text-decoration: none;
}

#aboutUsLink:hover{
  color: yellow;
}

#forbidden2{
  font-family: harryfont;
  font-size: 100px;
  color: white;
  text-align: center;
}

#questionSectionElement {
  background-color: #ffffff;
  margin: 100px;
  opacity: 0.5;
  font-size: 45px;
  text-align: center;
  padding-bottom: 50px;
  font-family: 'Marck Script';
  font-weight: bolder;
}

/* #body2{
  margin-top: 2%;
  font-size: 40px;
  color: white;
  font-weight: bolder;
  font-family: 'harryfont';
  cursor: url(../images/transparent_wand_32x32.png), auto;
  margin-left: 30%;
  margin-right: 30%;
} */

@font-face {
  font-family: 'harryfont';
  src: url('../fonts/HARRYP__.TTF');
}

#instructions2{
  position: relative;
  margin-left: 15%;
  margin-top: 15%;
  border: 1px white solid;
}

/* Answer Section */
#domAnswerOneText, #domAnswerTwoText {
  border: 1px black solid;
  padding: 3px;
  text-align: center;
  width: 75%;
  margin: auto;
  margin-bottom: px;
  cursor: url(../images/transparent_wand_32x32.png), auto;

}

#domAnswerOneText:hover, #domAnswerTwoText:hover {
  background-color: lightgray;
}

/* Question Title Section */
#domQuestionId {
  font-weight: bold;
  font-size: 50px;
  text-transform: capitalize;
  margin-top: 100px;
  margin-bottom: 300px;
}

/* if empty answer no border */
#body2 * :empty {
  display: none;
}

/* image section */
img {
  display: block;
  margin: auto;
  margin-top: 30px;
}
