

#userForm{
  margin-top: 7%;
  font-size: 40px;
  color: white;
  font-weight: bolder;
  font-family: 'harryfont';
  cursor: url(../images/transparent_wand_32x32.png), auto;
  margin-left: 50%;
}


#body1{
      cursor: url(../images/transparent_wand_32x32.png), auto;
      background-image: url(../images/forbid.jpg);
}

#username{
  cursor: url(../images/transparent_wand_32x32.png), auto;
}

#butt{
  cursor: url(../images/transparent_wand_32x32.png), auto;
}

#audio{
    cursor: url(../images/transparent_wand_32x32.png), auto;
}

#enteredUsername{
  cursor: url(../images/transparent_wand_32x32.png), auto;

}


@font-face {
  font-family: 'harryfont';
  src: url('../fonts/HARRYP__.TTF');
}

.w3-center{
  font-family: 'harryfont';
  font-size: 60px;
  color: white;
  cursor: url(../images/transparent_wand_32x32.png), auto;
  margin: 15px 0px;
}

.w3-center:hover{
  color: yellow;
}

.mySlides {display:none;}

.w3-display-middle{
font-family: 'harryfont';

}



#gameLink{
  color: white;
  font-family: 'harryfont';
  font-size: 35px;
  margin-right: 85%;  /* we really need to change this to a float lol #jank*/
  text-decoration: none;
  cursor: url(../images/transparent_wand_32x32.png), auto;
}

#gameLink:hover{
  color: yellow;
}

#aboutUsLink{
  color: white;
  font-family: 'harryfont';
  font-size: 35px;
  text-decoration: none;
  cursor: url(../images/transparent_wand_32x32.png), auto;
}

#aboutUsLink:hover{
  color: yellow;
}

#buttonForm{
padding: 1%;
}

#buttonForm:hover{
  color: yellow;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: orange;
  box-shadow:0px 0px 50px 10px whitesmoke;  
  cursor: url(../images/transparent_wand_32x32.png), auto;
}

.w3-button:hover{
  box-shadow:0px 0px 50px 10px  whitesmoke ;  
  cursor: url(../images/transparent_wand_32x32.png), auto;
}

#harry{
  margin-left: 5%;
 width: 15%;
  float: left;
}

#harry:hover{
  transform: scale(1.5);
}

#harry:active{
  background-color: yellow;
}

#hermoine{
  max-width: 10%;
  margin-top: 3%;
  float: left;
}

#hermoine:hover{
  transform: scale(1.5);
}

#hermoine:active{
  background-color: red;
}

#ron{
  max-width: 11%;
  float: left;
  margin-top: 3%;
}

#ron:hover{
  transform: scale(1.5);

}

#ron:active{
  background-color: orange;
}



/* 


Adam's work
.container {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

img {
  height: 408px;
}

main {
  margin: 15px;
} */