

#userForm{
  margin-top: 2%;
  font-size: 40px;
  color: white;
  font-weight: bolder;
  font-family: 'harryfont';
  cursor: url(../images/transparent_wand_32x32.png), auto;
  margin-left: 37%;
  margin-right: 30%;
}


#body1{
      cursor: url(../images/transparent_wand_32x32.png), auto;
      background-image: url(../images/forbid.jpg);
}

#username{
  cursor: url(../images/transparent_wand_32x32.png), auto;
}

#butt{
  cursor: url(../images/transparent_wand_32x32.png), auto;
}

#audio{
    cursor: url(../images/transparent_wand_32x32.png), auto;
}

#enteredUsername{
  cursor: url(../images/transparent_wand_32x32.png), auto;

}


@font-face {
  font-family: 'harryfont';
  src: url('../fonts/HARRYP__.TTF');
}

.w3-center{
  font-family: 'harryfont';
  font-size: 60px;
  color: white;
}

.w3-center:hover{
  color: yellow;
}

.mySlides {display:none;}

.w3-display-middle{
font-family: 'harryfont';

}



#gameLink{
  color: white;
  font-family: 'harryfont';
  font-size: 35px;
  margin-right: 80%;
  text-decoration: none;
  cursor: url(../images/transparent_wand_32x32.png), auto;

}
#gameLink:hover{
  color: yellow;
}

#aboutUsLink{
  color: white;
  font-family: 'harryfont';
  font-size: 35px;
  text-decoration: none;
  cursor: url(../images/transparent_wand_32x32.png), auto;

}

#aboutUsLink:hover{
  color: yellow;
}

#buttonForm{
padding: 1%;
}

#buttonForm:hover{
  color: yellow;
  box-shadow:20px 20px 50px 20px whitesmoke ;  
  cursor: url(../images/transparent_wand_32x32.png), auto;

}

.w3-button:hover{
  box-shadow:20px 20px 50px 20px whitesmoke ;  
  cursor: url(../images/transparent_wand_32x32.png), auto;

}




